.picturepanel {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: -ms-fit-content;
  width: fit-content;
  border: 8px solid silver;
  overflow: auto;
  position: relative;
  margin: 20px auto;
  background-color: #ffffff;
}
.picturepanel canvas { display: block; }
.toolbar > * { position: relative; margin: 0 auto; }
.toolbar { text-align: center; }

html {
  background-color: #eeeeee;
}