html, body {
  margin: 0 auto;
}

html {
  background-color: #000000;
}

.background {
  background: rgb(52, 166, 251);
  border-spacing: 0 !important;
}
.background td { padding: 0;                    }
.lava          { background: rgb(255, 100, 100) }
.wall          { background: #ffffff;           }

.actor  { position: absolute; }
.coin   { background: rgb(241, 229, 89)}
.player   { background: rgb(64, 64, 64)}

.lost .canvas {
  background: rgb(160, 64, 64);
}
.won .canvas {
  box-shadow: -4px -7px 8px #ffffff, 4px -7px 8px #ffffff;
}

.game {
  overflow: hidden;
  position: relative;
}

canvas {
  display: block;
  margin: 0 auto;
}

.scoreboard {
  width: 100%;
  position: relative;
  height: 0px;
  display: flex;
  top: 10px;
}

.scoreboard-inner-text {
  position: absolute;
  font-size: 23px;
  color: yellow !important;
  width: 100%;
  text-align: center;
}

.controls-display {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
  font-size: 22px;
  color: #fffacdc7;
}

.controls-display {
  opacity: 1;
  transition: 1s opacity;
}